
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

 <h3>MVC TABLO ÖRNEĞİ - Kategori</h3>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
    </tr>

    <tr>
        <td></td>
    </tr>
</table>